aside {
  position: absolute;
  /* height: 100vh;
  width: 100vw; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  /* display: none; */
}

.logo {
  perspective: 40px;
  height: 355px;
}
.hexagon-container {
  position: relative;
  transition: transform 0.5s;
}

.img-container {
  position: absolute;
  width: 260px;
  height: 302px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  top: -65px;
  left: 20px;
}

.img-container img {
  position: relative;
  left: -95px;
  top: 0px;
  width: 175%;
}

.outer-hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: var(--color-1);
  /* background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89)); */
  /* background: -webkit-linear-gradient(#eb5757, #d59152); */
  margin: 86.60px 0;
}
  
.outer-hexagon:before,
.outer-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
  
.outer-hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid var(--color-1);
}

.outer-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid var(--color-1);
}

.menu-selected-development .outer-hexagon,
.outer-hexagon.development {
  background-color: var(--color-1);
}
.menu-selected-development .outer-hexagon:before,
.menu-selected-development .outer-hexagon:after,
.outer-hexagon.development:before,
.outer-hexagon.development:after {
  border-top-color: var(--color-1);
}
.menu-selected-photography .outer-hexagon,
.outer-hexagon.photography {
  background-color: var(--color-2);
}
.menu-selected-photography .outer-hexagon:before,
.menu-selected-photography .outer-hexagon:after,
.outer-hexagon.photography:before,
.outer-hexagon.photography:after {
  border-top-color: var(--color-2);
  border-bottom-color: var(--color-2);
}
.outer-hexagon.writing {
  background-color: var(--color-3);
}
.outer-hexagon.writing:before,
.outer-hexagon.writing:after {
  border-top-color: var(--color-3);
  border-bottom-color: var(--color-3);
}
.outer-hexagon.about {
  background-color: var(--color-4);
}
.outer-hexagon.about:before,
.outer-hexagon.about:after {
  border-top-color: var(--color-4);
  border-bottom-color: var(--color-4);
}
.outer-hexagon.teaching {
  background-color: var(--color-5);
}
.outer-hexagon.teaching:before,
.outer-hexagon.teaching:after {
  border-top-color: var(--color-5);
  border-bottom-color: var(--color-5);
}
.outer-hexagon.blog {
  background-color: var(--color-6);
}
.outer-hexagon.blog:before,
.outer-hexagon.blog:after {
  border-top-color: var(--color-6);
  border-bottom-color: var(--color-6);
}
.outer-hexagon.contact {
  background-color: var(--color-7);
}
.outer-hexagon.contact:before,
.outer-hexagon.contact:after {
  border-top-color: var(--color-7);
  border-bottom-color: var(--color-7);
}

.hexagon {
  position: relative;
  width: 280px; 
  height: 161.66px;
  background-color: #FFF;
  margin: 80.83px 0;
  top:  -254.5px;
  left: 10px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 80.83px solid #FFF;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 80.83px solid #FFF;
}

.letter {
  position: absolute;
  display: none;
  font-family: 'Montserrat', sans-serif;
}
.letter-1 {
  top: -115px;
  left: 147px;
}
.letter-2 {
  top: -10px;
  left: 310px;
}
.letter-3 {
  top: 165px;
  left: 310px;
}
.letter-4 {
  top: 265px;
  left: 144px;
}
.letter-5 {
  top: 165px;
  left: -20px;
}
.letter-6 {
  top: -10px;
  left: -20px;
}