/**
 * HEXAGON
 */
 .classic-menu aside,
.page-transition aside {
    transform: scale(.5);
    transition: all 1s ease-in-out;
}
.classic-menu.page-development aside,
.page-development-transition aside {
    right: -150px !important;
    bottom: -175px !important;
}
.classic-menu.page-photography aside,
.page-photography-transition aside {
    left: -150px !important;
    bottom: -175px !important;
}
.classic-menu.page-writing aside,
.page-writing-transition aside {
    right: -150px !important;
}
.classic-menu.page-about aside,
.page-about-transition aside {
    left: -150px !important;
}
.classic-menu.page-teaching aside,
.page-teaching-transition aside {
    top: -150px !important;
    right: -150px !important;
}
.classic-menu.page-blog aside,
.page-blog-transition aside {
    top: -150px !important;
    left: -150px !important;
}


/**
 * ARTICLES
 */

/* .pages article {
    width: 50vw;
    height: 33.3vh;
    transition: all 1s ease-in-out; 
} */

article {
    color: var(--body);
}

article.development {
    background-color: var(--color-1);
}
article.photography {
    background-color: var(--color-2);
}
article.writing {
    background-color: var(--color-3);
}
article.about {
    background-color: var(--color-4);
}
article.teaching {
    background-color: var(--color-5);
}
article.blog {
    background-color: var(--color-6);
}


.page-transition article {
    transition: all 1s ease-in-out;
}
.classic-menu article,
.page-development-transition article.development,
.page-photography-transition article.photography,
.page-writing-transition article.writing,
.page-about-transition article.about,
.page-teaching-transition article.teaching,
.page-blog-transition article.blog {
    height: 100vh !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
}