:root {
    --color-1: #C70000;
    --color-2: #FFA012;
    --color-3: #FFE41B;
    --color-4: #17B81A;
    --color-5: #35FFF8;
    --color-6: #0008E0;
    --color-7: #7800E1;

    --background: #000;
    --header: #FFF;
    --body: #000;
}